.App {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navBar {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.dummybar {
  flex-grow: 1;
}

.navBar>*{
  padding: 1rem;
  margin: 0rem 1rem;
}

a {
  color: rgb(61, 61, 61);
  text-decoration: none;
}

.footer {
  bottom:0;
  position:fixed;
}